.amelia-app-booking #amelia-booking-wrap #am-step-booking, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog{
	width: 100% !important;
	max-width: 100% !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-calendar-stepByStepForm-calendarDateTimeForm div, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-calendar-stepByStepForm-calendarDateTimeForm div {
	font-size:18px !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-appointment-times, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-appointment-times {
	max-height: 100% !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-appointment-times .el-radio-button .el-radio-button__inner, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-appointment-times .el-radio-button .el-radio-button__inner {
    font-size: 16px;
}

.amelia-booking-header__photo {
	width: 80px;
	height: 80px;
}

.amelia-app-booking #amelia-booking-wrap .el-button--primary.el-button {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize) !important;
	font-weight: 400;
	color: #fff;
	background: transparent;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);

	display: inline-block;
	padding: var(--btns-padding);
	width: max-content;
	height: max-content;

	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.2s ease-out;
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: #fff;
}

.amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-button-wrapper .el-button {
	padding: var(--btns-padding);
	border-radius: var(--btns-radius);
	font-size: var(--btns-fontsize) !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-confirm-booking p, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-confirm-booking p {
	font-size:16px;
}

.amelia-app-booking #amelia-booking-wrap .payment-dialog-footer .el-button, #am-modal.am-modal.am-in-body .payment-dialog-footer .el-button {
	padding: var(--btns-padding);
	border-radius: var(--btns-radius);
	font-size: var(--btns-fontsize) !important;
}