.amelia-app-booking #amelia-booking-wrap #am-step-booking, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog{
	width: 100% !important;
	max-width: 100% !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-calendar-stepByStepForm-calendarDateTimeForm div, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-calendar-stepByStepForm-calendarDateTimeForm div {
	font-size:18px !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-appointment-times, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-appointment-times {
	max-width: 100% !important;
}

.amelia-app-booking #amelia-booking-wrap #am-step-booking .am-select-date .am-appointment-times .el-radio-button .el-radio-button__inner, .amelia-app-booking #amelia-booking-wrap .am-step-booking-catalog .am-select-date .am-appointment-times .el-radio-button .el-radio-button__inner {
    font-size: 16px;
}