.b-hero {
	.__cta:hover {
		.underline-btn {
	transition: all 0.2s ease-out;
	color: var(--p-500);
	border-bottom: 1px solid var(--color-primary);
		}

		.underline-btn::after {
			margin-left:12px;
		}
	}
}