.b-reviews {
  .swiper {
    .__img img {
      width: 56px;
      height: 56px;
      max-width: 56px;
      max-height: 56px;
      border-radius: 100%;
	  object-fit: cover;
    }
  }
  .__arrows {
    width: max-content;
    right: 0;
    top: -80px;
  }
}

 .review-content-wrapper {
    .line-clamp-6 {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    /* Klasa dodawana po kliknięciu, aby pokazać cały tekst */
    &.is-expanded .line-clamp-6 {
      -webkit-line-clamp: unset; /* Usuwa ograniczenie linii */
      display: block;
    }
  }

  .hidden {
    display: none;
  }