.wysiwyg {
  .__txt {
    p {
      margin-bottom: 16px;
    }

    p:last-child {
      margin-bottom: 0 !important;
    }

    ul {
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 20px;
  list-style: disc;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
  }
}